name: Docker Image CI for Staging
on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy env file
        run: echo "${{ secrets.STAGING_ENV }}" > .env

      - name: Build Docker image
        id: build
        run: |
          IMAGE_TAG=${{ secrets.DOCKER_HUB_USERNAME }}/backend-nodejs:$(date +%s)
          docker build -t $IMAGE_TAG .
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image
        run: docker push ${{ steps.build.outputs.image_tag }}
